*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
	font-family:Titulo;
	font-size:40px;
	color:#603A03;
}

body {
	background-color: blue;
}

#container{
	width:950px;
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
  
}

#Game {
  display: flex;
  justify-content: center;
  align-items: center;
	width:53rem;
	height:33rem;
	background-image:url(../img/background_sonic.png);
	border-color:#FFF;
	border-style:solid;
  position: relative;
  overflow: hidden;
}

#inicio {
  display: flex;
  flex-direction: column;
	width:0rem;
	height:13rem;
}

.img-inicio {
  width: 52.5rem;
  position: absolute;
  top: 0.3rem;
  left: 0.2rem;
  z-index: 100;
}

.tutorial {
  position: absolute;
  top: 25rem;
  left: 19rem;
  z-index: 110;
  
}

.tutorial:hover {
  cursor: pointer;
}

.text-tutorial {
  margin: 0.3rem;
  padding: 0.3rem;
  color: #FFF;
  font-weight: bold;
  background-color:rgba(104, 102, 231, 0.986);
	text-align:center;
  border-radius: 0.5rem;
  border: 0.2rem solid rgb(255, 255, 255);
}

#sonic {
  width: 120px;
  bottom: 20px;
  left: 35px;
  position: absolute;

}

.jump {
  animation: jump-animation 700ms ease-out;
}

#butterdroid {
  position: absolute;
  width: 6.2rem;
  bottom: 15rem;
  right: -5.8rem;
  animation: butterdroid-animation 5s infinite linear;
}

#crab {
  position: absolute;
  bottom: 15px;
  width: 100px;  
  animation: crab-animation 3s infinite linear;
}

/*#ring {
  width: 3rem;
}*/

@keyframes butterdroid-animation {
  from {
    right: -70;
  }

  to {
    right: 100%;
  }
}

@keyframes crab-animation {
  from {
    right: -100px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump-animation {
  
  0% {
    bottom: 20px;
  }
  
  40% {
    bottom: 250px;
  }

  50% {
    bottom: 250px; 
  }

  60% {
    bottom: 250px; 
  }

  100% {
    bottom: 20px;
  }
}

#placar {
	width: 12rem;
	height: 6rem;
  background-color: rgba(89, 150, 219, 0.089);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
	position: absolute;
	left: 38rem;
	top: 1rem;
  z-index: 90;
}

.td-color {
  color: #f7cd12;
  font-size: 1.5rem;
  font-family: helvetica, sans-serif;
  font-weight: bolder;
}

.td-color2 {
  color: #FFF;
  font-size: 1.5rem;
  padding-left: 1rem;
  font-family: helvetica, sans-serif;
  font-weight: bolder;
}

.text-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: rgb(255, 255, 255);
}