@font-face {
	font-family:Titulo;
	src:url(fontes/ANODETONOONE.TTF);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.game-board {
    width: 65%;
    height: 600px;
    border: 1px solid #333;
    margin: auto;
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    background: url("/assets/img/background_sonic.png");
}

.sonic {
    position: absolute;
    bottom: 50px;
    left: 40px;
}

.img-sonic {
    width: 90px;
}

.ladybug {
    position: absolute;
    bottom: 50px;
    right: -70px;
    animation: ladybug-animation 4s infinite linear;
}

.img-ladybug, .img-crab {
    width: 100px;
}

.crab {
    position: absolute;
    bottom: 50px;
    width: 95px;
    right: -70px;
    animation: crab-animation 6s infinite linear;
}

@keyframes ladybug-animation {
    from {
        right: 0;
    }
    to {
       right: 100%; 
    }

}

@keyframes crab-animation {
    from {
        right: 0;
    }
    to {
       right: 100%; 
    }

}